<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Programming Language</title>
</head>
<body>
    <h1>Create a New Programming Language</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title</label><br>
        <input type="text", name="title", id="title"><br>
        <label for="description">Description</label><br>
        <textarea name="description" id="description" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <a href="{% url 'programs:list' %}">Back to List</a>
</body>
</html>